input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
  }


  .filter_select{
    width: 22%;
    display: flex;
  }
  

  .filter_label {
    width : 50%;
    padding: 10px;
    margin: auto;
    color: rgb(231, 44, 44);
    font-weight: 800;
  }