.container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
.pi__table{
  border-color: rgba(0, 0, 0, 0.384);
    width: 75%;
    margin: auto;
}

.btn{
width: 80px;
margin-left: 20px;
}

.btn:hover {
width: 80px;
}

.page_container{
    align-content: center;
    width: 85%;
    margin: auto;
}



/* The popup form - hidden by default */
.form-popup {
  width: 40%;

  position: fixed;
  top:21%;
  left: 29%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.hidden {
  display: none;
}

.showing{
  display:  block;
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
  background-color: #c0bebe;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}