.additional-info {
  .wrapper-agent-second {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .table {
    margin-bottom: 0;
    text-align: center;
    th,
    td {
      border: 1px solid #efefef;
      font-size: 13px;
      vertical-align: middle;
    }
    .btn-actions {
      display: flex;
      justify-content: space-evenly;
      color: var(--green);
      .uil {
        font-size: 1rem;
        &:hover {
          cursor: pointer;
        }
      }
      .uil-trash-alt {
        color: var(--second-color) !important ;
        &:hover {
          color: var(--second-color) !important ;
        }
      }
    }
  }
}
