.container_custom {
  margin-top: 1rem;
  .card-custom {
    .card-custom-tittle {
      padding: 12px;
      justify-content: center;
    }
    .card-custom-body {
      .page_container {
        .search_container {
          .row {
            display: contents !important;
            .col-lg-6,
            .col-md12 {
              padding-left: 0;
              .search_div_po {
                width: 100%;
                .search_box_po {
                  padding: 7px 10px;
                  background-color: #fff;
                  border: 1px solid var(--second-color);
                }
              }
            }
          }
        }
      }
      .files-icons {
        display: flex;
        justify-content: space-evenly;
        .file-icon:hover {
          cursor: pointer;
        }
      }
    }
  }
}
