.projects {
  margin: 1rem auto;
  .project {
    width: 100%;
    border: 1px solid var(--second-color);
    border-radius: 7px;
    // margin-top: 5rem;
    .card-project-tittle {
      text-align: center;
      background-color: var(--second-color);
      color: var(--white);
      padding: 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      h5 {
        margin: 0;
      }
    }
    .accordion-item {
      margin: 0.5rem;
      border: 1px solid #ccc !important;
      border-radius: 7px;
      .accordion-header {
        .accordion-button {
          border: 1px solid #ccc;
          border-radius: 6px;
          //   border-top-left-radius: 6px;
          //   border-top-right-radius: 6px;
          &:focus {
            box-shadow: none;
            // border: 1px solid var(--second-color);
          }
        }
      }
      .accordion-body {
        // border: 1px solid var(--second-color);
        .btn-task {
          display: grid;
          grid-template-columns: 1fr 0.2fr;
          align-items: center;
          gap: 16px;
          margin-bottom: 1rem;
          .form-group {
            .form-control {
              padding: 10px 20px;
            }
          }
          .ags-btn-main-fill {
            height: fit-content;
            padding: 9px;
            text-align: center;
          }
        }
      }
      .accordion-collapse {
        width: 100%;
        //   display: block;
        color: rgb(0, 0, 0) !important;
      }
      .collapse {
        visibility: inherit;
      }
    }
    .accordion-button:not(.collapsed) {
      color: var(--second-color);
    }
    // .accordion-item:last-child {
    //   border: 1px;
    // }
  }
}
.project_page_container {
  display: contents;
  height: 900px;
  width: 85%;
}
.projects_list {
  width: 20%;
  height: inherit;
  background-color: rgb(231, 243, 243);
}

.project_tasks {
  position: relative;
  width: 100%;
  height: inherit;
  background-color: #f9f9f9;
  //   margin-top: 18px;
}

.project_item {
  height: 64px;
  padding-left: 22px;
  background-color: #f9f9f9;
  margin: auto;
  padding-top: 12px;
  color: #5b5b5c;
  cursor: pointer;
  border-bottom: solid;
  border-width: unset;
  border-color: aliceblue;
}

.project_item:hover {
  background-color: #bbb;
}

.add_project_button {
  height: 64px;
  padding-left: 22px;
  background-color: #000000;
  margin: auto;
  padding-top: 7px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  font-size: x-large;
  font-family: cursive;
  margin-top: 18px;
}

.task {
  display: flex;
  /* justify-content: space-around; */
  background-color: #fff !important;
  // padding: 3px;
  padding-left: 0 !important;
  font-weight: 600;
  border-bottom: solid;
  /* border-width: inherit; */
  border-color: white;
}

.task_date {
  width: 22%;
  border-right: solid;
  border-right-width: thin;
  color: #0f3d76;
}

.task_text {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20px;
  width: 75%;
}

.new_task {
  padding-left: 7px;
  padding-right: 7px;
  /* margin-top: 20px; */
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(44, 148, 238);
  text-align: center;
  height: 40px;
  font-size: larger;
  font-weight: bold;
  color: white;
  padding: auto;
  cursor: pointer;
  position: absolute;
  right: 29px;
  /* margin-bottom: 42px; */
  padding-top: 3px;
  height: 55px;
  padding-top: 10px;
  width: 14%;
}

.new_task_text {
  border: solid;
  border-width: thin;
  margin-top: 21px;
  width: 85%;
  height: 58px;
  margin: 0;
  border-radius: 0;
}

.add_task {
  margin-top: 20px;
  position: absolute;
  bottom: 35px;
  width: 100%;
  padding: 29px;
  left: 0;
  right: 0;
  /* margin: auto; */
  display: flex;
  background-color: #d6e4f5;
}

.new_project {
  background-color: red;
}

.new_Modal {
  position: absolute;
  top: 171px;
  left: 20%;
  right: 20%;
  bottom: 398px;
  background-color: rgb(235, 232, 232);
  text-align: center;
  border: solid;
  border-color: aliceblue;
  border-radius: 12px;
}

.new_Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.new_Modal > h2 {
  color: blue;
  padding: 20px;
}

.add_proj {
  /* border: solid; */
  background-color: #b0c3b0;
  width: 30%;
  margin: auto;
  height: 35px;
  font-size: larger;
  cursor: pointer;
  border: solid;
  border-width: thin;
  border-color: cadetblue;
  border-radius: -9%;
}

.dark_row {
  background-color: #fff !important;
}
// New Styles
.projects-tittle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem !important;
  .uil {
    font-size: 2rem;
    &:hover {
      cursor: pointer;
    }
  }
}
.tasks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  .task-item {
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    padding: 20px 20px;
    .task-info {
      // padding: 1rem 1rem 0 1rem;
      // margin-bottom: 1rem;
      h6 {
        font-size: 15px;
        color: #464e56;
        font-weight: 600;
        text-align: left;
      }
      span {
        font-size: 12px;
        font-weight: 500;
        color: #868e94;
        text-align: left;
      }
    }
    .task-date {
      display: grid;
      // padding: 0 1rem;
      small {
        color: #727475;
      }
    }
  }
}
.no-tasks {
  display: grid;
  text-align: center;
  .uil {
    font-size: 2rem;
  }
  span {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .projects {
    .project {
      .accordion-item {
        .accordion-header {
          .accordion-button {
            border-radius: 6px;
          }
        }
        .accordion-body {
          padding: 7px;
          .btn-task {
            .form-group {
              .form-control {
                padding: 6px 20px;
              }
            }
            .ags-btn-main-fill {
              padding: 4px 9px;
            }
          }
        }
      }
    }
  }
  .tasks {
    grid-template-columns: 1fr;
  }
}
