
    .success_h1 {
      color: #88B04B;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-weight: 900;
      font-size: 40px;
      margin-bottom: 10px;
    }
    .success_p {
      color: #404F5E;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-size:20px;
      margin: 0;
    }
  .success_i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left:50px;
  }
  .success_card {
    height: 450px;
    display: flex;
    margin: auto;
    background: white;
    padding: 50px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
  }

  .success_div{
    border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;
  }

  .sucess_container{
    margin: auto;display: flex;
    align-items: center;
  }

  .property {
    font-weight: bold ;
    background-color: #9de433;
  }