.blogs_container {
  margin: 1rem;
  .wrapper-blogs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    gap: 30px;
    .blog {
      .card {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: fit-content;
        box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
        border-radius: 1em;
        background: #fff;
        border: 0 !important;
        transition: all 0.4s ease-in-out;
        .card__header {
          img {
            max-width: 100%;
            display: block;
            object-fit: cover;
          }
        }
        .card__body {
          padding: 1rem;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          h4 {
            font-size: 1.5rem;
            text-transform: capitalize;
          }
          .tag-success {
            background-color: var(--green);
            color: #fff;
          }
          .tag-primary {
            background-color: var(--primary-color);
            color: #fff;
          }
          .tag-red {
            background-color: var(--second-color);
            color: #fff;
          }
          .tag {
            align-self: flex-start;
            padding: 0.25em 0.75em !important;
            border-radius: 1em;
            font-size: 0.75rem;
          }
          .tag + .tag {
            margin-left: 0.5em;
          }
          p {
            font-size: 14px;
          }
        }
        .card__footer {
          display: flex;
          padding: 1rem;
          margin-top: auto;
          .user {
            display: flex;
            align-items: flex-end;
            gap: 0.5rem;
            .user__image {
              width: 45px;
              height: 45px;
              border-radius: 50%;
            }
            .user__info > h5,
            .user__info > small {
              font-size: 12px;
              margin: 0;
            }
            .user__info > small {
              color: #666;
            }
          }
        }
        &:hover {
          cursor: pointer;
          transform: translateY(-1px);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .blogs_container {
    .wrapper-blogs {
      grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    }
  }
}
