.App {
  text-align: center;
  background-color: "#ECF4F2" ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.MuiPaper-elevation6{
  box-shadow: none !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiButtonBase-root{
  padding: 8px 7px;
    line-height: 1;
    font-size: 13px;
}
.MuiContainer-maxWidthXl{
  padding: 0 !important;
}
.css-1834yta{
  padding: 0 !important;
  margin: 0 !important;
}
.css-cduqvc{
  padding-bottom: 20px;
}
.buttons-add-pi{
  display: block;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
}
.buttons-add-pi button{
  display: inline-block;
  margin: 5px;
  padding: 4px 10px;
}

@media(max-width: 768px) {
  /* .body-content-pd-2 {
    padding: 0;
  } */
}
@media(max-width: 576px) {
.css-gd8tja{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

}