@tailwind base;

@tailwind components;
@tailwind utilities;

/* @import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";*/
*::after,
::before {
  margin: 0;
  padding: 0;
  --primary-color: #4f46e5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

select {
  padding: 10px 20px;
}
.item_search:hover {
  background-color: blue;
  color: black;
  border: 1px solid black;
}
.list__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: auto;
}

.total__product {
  font-size: 18px;
  position: relative;
  right: 0;
  align-content: flex-end;
}

.tag {
  background-color: #f4f4f4;
  border: 1px solid #e9e9e9;
  padding: 2px 0 2px 2px;
  border-radius: 2px;
  display: inline-block;
  padding: 12px !important;
  display: flex !important ;
  gap: 10px !important;
}
.search {
  padding: 10px;
}
.select__list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.sidebar {
  display: none;
  height: 80%;
  width: 30%;
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  padding: 20px;
  z-index: 100;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .sidebar {
    width: calc(100% - 50%);
    height: 70%;
  }
}

@media screen and (max-width: 1000px) {
  .sidebar {
    width: calc(100% - 10%);
    height: 70%;
  }
}

.list__ {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.list__ > span {
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
.close__ {
  cursor: pointer;
}
.list__ofItems {
  padding-top: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  cursor: pointer;
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 70%;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}

.background_color {
  background-color: #e7e9eb !important;
  transition: 0.5s;
}

.sidebar__buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;
  position: fixed;
  bottom: 20px;
  padding: 20px;
  right: 0;
  background-color: #ffffff;
}

.list__modal {
  height: 100%;
}
.next {
  cursor: pointer;
  border: 0;
  background-color: #222222;
  display: grid;
  place-items: center;
  font-weight: bold;
  border-radius: 10px;
  width: max-content;
  padding: 10px 14%;
}

.next:hover {
  background-color: transparent;
  outline: 2px solid #222222;
}
.next:hover > span {
  color: #000;
}
.delete {
  background-color: #e9e9e9;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  outline: 2px solid #222222;
  display: grid;
  place-items: center;
  font-weight: bold;
  padding: 10px 14%;
  border-radius: 10px;
  transition: 0.5s;
}

.delete:hover {
  outline: 2px solid red;
  color: red;
}
.next > span {
  color: white;
}
.list__ofItems {
  padding: 20px;
}
.card__item {
  padding: 6px;
  display: grid;
  grid-template-columns: 90% 10%;
  gap: 3px;
  width: 100%;
  align-items: baseline;
}

.sidebar__buttons {
  display: flex;
  justify-content: space-around;
}

.items__print {
  display: flex;
  flex-direction: row;
}

.list__ite {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 1400px;
  margin: auto;
  gap: 50px;
  width: 100%;
}

.list__product {
  background-color: #fff;
  padding: 13px;
  border: 2.3px solid #d6d6d6;
  border-radius: 13px;
  display: grid;
  place-items: center;
}
.description__product {
  padding-top: 20px;
}
.price {
  font-weight: bold;
}

legend,
.bx {
  font-size: 1.3rem;
  font-weight: 700px;
}

.container {
  display: flex;
  gap: 0.4rem;
}

.logo__level1 {
  object-fit: contain !important;
  height: 50px !important;
  width: 50px !important;
}
/* Hide default radio style */
.checkbox-input {
  opacity: 0;
  visibility: hidden;
  margin: 0;
}

/* Change icon, border and text color when radio is checked */
.checkbox-input:checked + .checkbox-tile,
.checkbox-input:checked + .checkbox-tile span {
  border-color: var(--primary-color);
  color: var(--primary-color);
  width: 120px;
  background-color: #f4f0f0;
}

/* Checkbox display */
.checkbox-input:checked + .checkbox-tile::before {
  transform: scale(1);
  opacity: 1;
  background-color: var(--primary-color);
  background-color: var(--primary-color);
}

/* Checkbox icon and text */
.checkbox-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  width: 100px;
  height: 70px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: 0.1s ease;
  cursor: pointer;
  position: relative;
}

.checkbox-tile:hover {
  border-color: #999;
}

/* Checkmark (icon inside checker) */
.checkbox-tile::before {
  content: "";
  position: absolute;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
  border: 2px solid var(--primary-color);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Not important */
a {
  color: var(--primary-color);
}

p {
  margin: 1rem 0;
}

.search {
  width: 100px !important;
}

.search__list {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.search__withfilters {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.MuiGrid-grid-md-3 {
  width: max-content !important;
}
.add__items {
  background-color: #4f46e5 !important;
  color: white !important;
  padding: 10px 50px;
  border: 0;
  border-radius: 5px;
}
.tree input[type="checkbox"]:checked + label::before {
  background-color: #007bff;
  content: "\f00c";
  font-family: "FontAwesome";
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #fff;
}
.tree ul ul {
  display: none;
}

.pagination {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.number {
  padding: 10px;
}

.pagination {
  display: flex;
}

.prec__pag > img {
  object-fit: contain;
}

.next__pag > img {
  object-fit: contain;
}

.number {
  display: grid;
  place-items: center;
  padding: 10px 20px;
  background: #ffffff;
  border: 1px solid #dfe3e8;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

.prec__pag {
  display: grid;
  place-items: center;
  padding: 10px 20px;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  width: max-content;
}

.next__pag {
  display: grid;
  place-items: center;
  padding: 10px 20px;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  width: max-content;
  border: 1px solid #dfe3e8;
}

.number:hover {
  border: 1px solid #4200ff;
  color: #000;
}
.active {
  color: rgb(65, 184, 210);
  font-weight: bold;
}

.disable {
  background-color: #919eab;
}

.prec__pag > img {
  width: 15px;
  height: 20px;
}
.next__pag > img {
  width: 15px;
  height: 20px;
}

.app__container {
  max-width: 1440px;
  margin-inline: auto;
}

.search__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.total__product {
  font-weight: bold;
  font-size: 20px;
}

.product__items {
  display: flex !important;
  flex-direction: row;
}
.page-link {
  padding: 10px 20px !important;
  border: 1px solid #878792;
}

.change__ {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.image__logo > img {
  height: auto !important;
  max-width: 500px;
  width: auto;
}
.MuiButton-fullWidth {
  background-color: rgb(235 235 235) !important;
  font-weight: bold !important;
}